.frame {
    align-items: stretch;
    flex-shrink: 0;
    flex-grow: 0;
    flex-wrap: no-wrap;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    width: 160px;
    height: 80px;
}

.title {
    color: rgb(207, 207, 207);
    -unity-font-style: bold;
}

.reward {
    -unity-font-style: normal;
    color: rgb(97, 243, 176);
}
