.title {
    align-items: center;
    flex-direction: column;
    -unity-text-align: upper-center;
    -unity-font-style: bold;
    background-color: rgb(48, 48, 48);
    color: rgb(140, 140, 140);
}

.frame {
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    background-color: rgb(96, 96, 96);
    align-items: ;
    left: ;
    position: absolute;
    top: ;
    bottom: ;
    right: ;
    width: 160px;
    height: 80px;
}
