.background {
    flex-grow: 1;
    background-color: rgba(38, 38, 38, 255);
}

.toolbar {
    background-color: rgba(96, 96, 96, 255);
    height: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.toolbar-button {
    width: 36px;
    background-color: rgba(200, 200, 200, 255);
}

